body {
  width: auto;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
}

img {
  width: 550px;
  height: 170px;
}

input {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  width: 600px;
  height: 35px;
}

.click{
justify-content: center; 
display: flex;
}


button {
  border-radius: 19px;
  border: 1px solid #5f5c5c;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
  background: white;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.container-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 650px;
  margin-top: 15px;
  line-height: 24px;
}
